body {
	background-color: #313131;
	color: #FFF;
	padding-top: 50px;
}

.box {
	//margin-left: auto;
	//margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1em;
	line-height: 1.4;
	padding-top: 7.5em;
	padding-bottom: 7.5em;
}

.android-just-java {
	background-color: #36c457;
}

.android-court-counter {
	background-color: #2c9344;
}

.ios-food-tracker {
	background-color: #ABCECF;
}

.web {
	background-color: #313131;
}

.about {
	background-color: #112D4E;
	text-align: center;
}

.contact {
	background-color: #222831;
	text-align: center;
}

.icon-contact {
	color: #FFF;
}

.icon-contact:hover {
	color: #FF5722;
}

footer {
	text-align: center;
	background-color: #ABCECF;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #000;
}


.label-python {
	background-color: #d1d116;
}

/* center image in teh carousel */
.carousel-inner img {
  margin: auto;
}

/* No background in the carousel arrows */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
