body {
	background-color: #313131;
	color: #FFF;
	padding-top: 50px;
}

.box {
	//margin-left: auto;
	//margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1em;
	line-height: 1.4;
	padding-top: 7.5em;
	padding-bottom: 7.5em;
}

.android-just-java {
	background-color: #36c457;
}

.android-court-counter {
	background-color: #2c9344;
}

.ios-food-tracker {
	background-color: #ABCECF;
}

.ios-pitch-perfect {
	background-color: #75a7a8;
}

.ios-color-maker {
	background-color: #106a6c;
}

.web {
	background-color: #2b7495;
}

.about {
	background-color: #448bde;
	text-align: center;
}

.contact {
	background-color: #cb3c3c;
	text-align: center;
}

.icon-contact {
	color: #FFF;
}

.icon-contact:hover {
	color: #9c1ff7;
}

footer {
	text-align: center;
	background-color: #37e293;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #000;
}


.label-html5 {
	background-color: #1689d1;
}

.label-css {
	background-color: #ea8715;
}

.label-js {
	background-color: #d8cc39;
}

.label-node {
	background-color: #2c9344;
}

.label-express {
	background-color: #ABCECF;
}

/* center image in teh carousel */
.carousel-inner img {
  margin: auto;
}

/* No background in the carousel arrows */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
