body {
  background-color: #313131;
  color: #FFF;
}

.box {
	//margin-left: auto;
	//margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1em;
	line-height: 1.4;
	padding-top: 7.5em;
	padding-bottom: 7.5em;
}

.work {
	background-color: #ABCECF;
}

.about {
	background-color: #112D4E;
}

.contact {
	background-color: #222831;
}

footer {
	text-align: center;
	background-color: #0C056D;
	padding-top: 1em;
	padding-bottom: 1em;
}
