body {
	background-color: #313131;
	color: #FFF;
	padding-top: 50px;
}

.box {
	//margin-left: auto;
	//margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1em;
	line-height: 1.4;
	padding-top: 7.5em;
	padding-bottom: 7.5em;
}

.work {
	background-color: #313131;
}

.about {
	background-color: #112D4E;
	text-align: center;
}

.contact {
	background-color: #222831;
	text-align: center;
}

.icon-contact {
	color: #FFF;
}

.icon-contact:hover {
	color: #FF5722;
}

footer {
	text-align: center;
	background-color: #ABCECF;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #000;
}


.label-python {
	background-color: #d1d116;
}
